.language-switcher {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBarLink {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &>svg {
    width: 25px;
    height: 25px;
  }

  * {
    transition: 0.3s all;
  }

  &:hover {

    &>svg,
    .sideBarLinkLabel {
      filter: brightness(0.6);
    }

    .hoverEffectIcon {
      opacity: 1;
      margin-left: 0px;

      svg {
        filter: brightness(1);
      }
    }
  }
}
.sideBarLink.light {
  & > svg,
  .sideBarLinkLabel {
    filter: brightness(1) invert(1);
  }
}

.sideBarLinkLabel {
  font-size: 16px;
  font-weight: normal;
  color: #b4b4b4;
  transition: 0.3s all;
}

.language-switcher {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}