.QuestionsContentMain {
  min-height: 100vh;
  background-color: hsl(var(--prices-background));
  padding: 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}

.QuestionsContentMainContainer{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-top: 50px;
  .header {
    text-align: center;
  }
}

.backButton {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #6b7280;
}

.container {
  max-width: 64rem;
  margin: 0 auto;
}


.title {
  font-size: 2.25rem;
  font-weight: 500;
  color: hsl(var(--text-color));
  margin-bottom: 0.5rem;
}

.divider {
  width: 12rem;
  height: 0.125rem;
  background-color: #cbd5e1;
  margin: 0 auto;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.section {
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  overflow: hidden;
  background: none;
  transition: all 0.3s ease;
  border: none;

  @media screen and (max-width: 768px) {
    background-color: hsl(var(--header-background));
    border: 1px solid #e2e8f082;
  }

  &.open {
    // background-color: #f1f5f9;
    // border: 1px solid #e2e8f0;

    @media screen and (max-width: 768px) {
      // background-color: #ffffff;
    }
  }
}

.sectionHeader {
  width: 100%;
  background: hsl(var(--prices-background));
  border: none;
  padding: 10px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(var(--text-color));
  cursor: default;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    // background-color: transparent;
  }
  @media screen and (max-width: 768px) {
    background-color: hsl(var(--header-background));
    font-size: 1.2rem;
  }

  .icon {
    font-size: 1.25rem;
    color: hsl(var(--text-color));
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
      transition: transform 0.3s ease;
    }

    .section.open & {
      transform: rotate(180deg);
    }
  }
}

.sectionContent {
  max-height: none; // По умолчанию контент всегда открыт
  opacity: 1;
  visibility: visible;

  & > div {
    color: hsl(var(--text-color));
    padding: 0 10px 10px 10px;
  }

  @media screen and (max-width: 760px) {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;

    .section.open & {
      max-height: 500px; // Достаточно большое значение, чтобы вместить контент
      opacity: 1;
      visibility: visible;
    }
  }
}
