.DashboardContentHeader {
    width: 100%;
    max-height: 65px;
    min-height: 65px;
    background: #171717;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .enixLogoMenu {
        display: flex;
        justify-content: center;
        align-items: center;

        &.openLogoMenu {
            .downMenu {
                top: 60px;
                opacity: 1;
                visibility: visible;
            }

            .logoEnixArrow {
                transform: rotate(180deg);
            }
        }

        * {
            transition: all 0.3s;
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
        }

        .logoEnix {
            width: 25px;
            height: 25px;
        }

        .downMenu {
            display: flex;
            flex-direction: column;
            width: 300px;
            padding: 10px;
            position: absolute;
            z-index: 2;
            background: #2f2f2f;
            border: 1px solid rgba(255, 255, 255, 0.1);
            right: 0;
            border-radius: 20px;
            opacity: 0;
            gap: 10px;
            top: 95px;
            visibility: hidden;
            gap: 10px;
        }

        .mobileMenu {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .sideBarLink {
                width: 100%;
                padding: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 12px;

                * {
                    transition: 0.3s all;
                }

                &:hover {

                    &>img,
                    .sideBarLinkLabel {
                        filter: brightness(0.6);

                    }

                    .hoverEffectIcon {
                        opacity: 1;
                        margin-left: 0px;

                        img {
                            filter: brightness(1);
                        }
                    }
                }
            }

            .sideBarLinkLabel {
                font-size: 16px;
                font-weight: normal;
                color: #B4B4B4;
                transition: 0.3s all;
            }

            .hoverEffectIcon {
                width: 20px;
                height: 20px;
                margin-left: 20px;
                opacity: 0;
                transition: 0.3s;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .sidebarDivider {
                width: 100%;
                height: 1px;
                border-radius: 50%;
                background: #444444;
            }
        }

        .helpButtons {
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                background: #00000000;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }

        .plan {
            padding: 20px;
            border-radius: 10px;
            background: #2f2f2f;
            border: 1px solid rgba(255, 255, 255, 0.1);
        }
    }

    .enixUserMenu {
        display: flex;
        justify-content: center;
        align-items: center;

        &.openUserMenu {
            .userDownMenu {
                top: 85px;
                opacity: 1;
                visibility: visible;
            }

            .logoEnixArrow {
                transform: rotate(180deg);
            }
        }

        * {
            transition: all 0.3s;
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
        }

        .logoEnix {
            width: 25px;
            height: 25px;
        }

        .userDownMenu {
            width: 300px;
            height: calc(100dvh - 125px);
            padding: 20px 10px;
            position: absolute;
            background: #2f2f2f;
            left: 0;
            border-radius: 20px;
            opacity: 0;
            z-index: 2;
            top: 95px;
            visibility: hidden;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #434343 #2f2f2f;
            border: 1px solid rgba(255, 255, 255, 0.1);

            * {
                color: #fff;
            }

            h3 {
                padding: 0 10px;
            }

            .sidebarDivider {
                width: 100%;
                height: 1px;
                padding: 0 10px;
                border-radius: 50%;
                background: #444444;
                margin: 15px 0 10px 0;
            }
        }

        .chatHistory {
            display: flex;
            flex-direction: column;
            align-items: flex-strat;
            justify-content: flex-start;
            gap: 7px;

            .chatHistoryItem {
                padding: 8px 10px;
                border-radius: 8px;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                color: #ececec;
                gap: 20px;

                h4 {
                    text-overflow: ellipsis;
                    font-weight: 400;
                    text-wrap: nowrap;
                    letter-spacing: 0.6px;
                    font-size: 14px;
                    line-height: 20px;
                    overflow: hidden;
                }

                .editHistoryIcon {
                    display: none;
                    justify-content: center;
                    align-items: center;

                    img {
                        filter: brightness(0.4);
                        width: 20px;
                        height: 20px;
                    }

                    &:hover {
                        img {
                            filter: brightness(1.2);
                        }
                    }
                }

                &:hover {
                    background: #1c1c1cb6;

                    h4 {
                        max-width: 200px;
                    }

                    .editHistoryIcon {
                        display: flex;
                    }
                }
            }

        }

    }

    .headerTitle {
        h3 {
            font-size: 18px;
            color: #B4B4B4;
            font-weight: normal;
        }

        .getPlusButton {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 15px;
            border-radius: 8px;
            gap: 10px;
            background-color: #1f7251;
            transition: all 0.3s;
            font-size: 16px;
            color: #ececec;

            img {
                width: 15px;
                height: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                background-color: #3e63dd;
                box-shadow: 0px 0px 5px 0px #3e63dd;
            }

            &.activeUser {
                background:
                    radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #FDB931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
                    radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
                    &:hover {
                        box-shadow: 0px 0px 5px 0px #3e63dd00;
                    }
            }
        }
    }
}


@media screen and (max-width: 900px) {
    .DashboardContentHeader {
        flex-direction: row-reverse;
        background: rgba(0, 0, 0, 0);
        padding: 0;
        min-height: 35px;
        max-height: 35px;
    }

    // .DashboardContentHeader .enixUserMenu.openUserMenu .userDownMenu,
    // .DashboardContentHeader .enixLogoMenu.openLogoMenu .downMenu {
    //     top: 45px;
    // }

    // .DashboardContentHeader .enixUserMenu .userDownMenu {
    //     height: calc(100dvh - 85px);
    //     top: 50px;
    //     right: 0;
    //     left: auto; 
    // }

    // .DashboardContentHeader .enixLogoMenu .downMenu {
    //     left: 0;
    //     right: auto;
    // }
}